<!DOCTYPE html>
<html>
  <head>
    <title>NataliyaLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <section>
        <h1>Nataliya's Little Library</h1>
        <nav>
          <ul>
            <li><a href="/">Home</li>
            <li><a href="/books">Books List</a></li>
            <li>New Book</li>
          </ul>
        </nav>
      </section>
    </header>
    <main>
      <%= yield %>
    </main>
      <footer>
        <p>All rights reserved</p>
      </footer>
  </body>
</html>
